<div class="menu">
<ul>
<li><a href='/S_factura'>registro de factura</a></li>
<li><a>resumenCompra</a></li>
<li><a>informacion</a></li>
<li><a><%= link_to "Salir", destroy_user_session_path, method: :delete  %></a></li>
</ul>
</div>
<div class="contenido">
<h2>contenido</h2>
</div>